# Cloudflare R2 Configuration
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_ENDPOINT=https://4db63b5a946ef5ebc26acd7bd228a0e1.r2.cloudflarestorage.com
R2_BUCKET_NAME=4db63b5a946ef5ebc26acd7bd228a0e1_hotel-shotabdi-assets
R2_PUBLIC_URL=https://pub-9f3e455c1df04b5b98df165c6987ccca.r2.dev
